.App {
  box-shadow: 4px 4px 12px 0 rgba(0, 0, 0, 0.5);
  background-color: #191c20;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-top {
  color: white;
  margin: 10px 32px;
}

.edumedia {
  width: 275px;
  height: 44px;
  font-family: Montserrat;
  font-size: 36px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.8px;
  color: #ffffff;
}

.text-style-1 {
  color: #00e7af;
}

.nav-icon {
  position: fixed;
  left: calc(99% - 66px);
  width: 66px;
  height: 66px;
}

.nav-icon-top {
  top: 39%;
}

.nav-icon-bottom {
  top: 50%;
}

.record-icon {
  top: 28%;
}

.select-lesson {
  margin-left: 200px;
}


.App-header {
  background-color: #31373e;
  padding: 12px 37px;
  display: flex;
  flex-direction: column;
  text-align: right;
  font-size: small;
  color: #00e7af;
}

.search-bar {
  width: 433px;
  height: 35px;
  border-radius: 33px;
  background-color: rgba(178, 178, 178, 0.41);
  display: inline-block;
  margin-left: 26%;
  border: none;
  padding: 0px 10px;
  color: white;
  font-family: Montserrat;
}

.App-link {
  color: #61dafb;
}

.App-top-text {
  width: 70px;
  height: 17px;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 2.1px;
  color: #ffffff;
  margin-left: 5vw;
}

canvas {
  border: 1px solid black;
}
